// Colors
$color-white:         #FFFFFF;
$color-black:         #000000;

$color-blue:          #0076FF;
$color-magenta:       #FF0080;
$color-orange:        #F5A623;
$color-yellow:        #F8E71C;
$color-green:         #50E3C2;
$color-red:           #EB5757;

$color-grey-one:      #FAFAFA;
$color-grey-two:      #EAEAEA;
$color-grey-three:    #999999;
$color-grey-four:     #666666;
$color-grey-five:     #333333;

$color-link:          #000000;
$color-link-blue:     #067DF7;
$color-link-pink:     #FF0080;

// Typography
$base-font-size:          10;
$base-line-height:        16;
$base-font-family:        "Roboto", sans-serif;
$base-title-font-family:  "Roboto", sans-serif;

// Elements
$base-border: 1px solid $color-black;
$base-box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px 0px;
