<div class="row">
  <div class="col-sm-3">
    <ul class="sidebar">
      <li class="sidebar-header">APXR</li>
      <li class="sidebar-item <%= selected_docs(@conn, :faq) %>"><a href="<%= Routes.docs_path(Endpoint, :faq) %>">FAQ</a></li>
      <li class="sidebar-item <%= selected_docs(@conn, :public_keys) %>"><a href="<%= Routes.docs_path(Endpoint, :public_keys) %>">FAQ</a></li>
    </ul>
  </div>

  <div class="col-sm-9">
    <%= render DocsView, @view, assigns %>
  </div>
</div>
