<div>
  <h2 class="title is-2">
    Active keys
  </h2>
  <p>
This page lists the public keys used by approximatereality.com. APXR uses these public keys to
guarantee developers can safely fetch the registry hosted by approximatereality.com. If you
have been linked to this page from an error message, it means the public key that ships with
your APXR client has been revoked. Below, you can find up to date keys and installation
instructions.
  </p>
  <br />
  <p>
<strong>Remember to only install public keys from sources you trust!</strong>
  </p>
  <br />      
  <p>
<strong>Public key released:</strong> 01/Mar/2019
  </p>
  <br />      
  <p>
<strong>Last changed:</strong> never
  </p>
  <br />
  <div class="box">
-----BEGIN CERTIFICATE-----
MIIDijCCAnICCQDFql6uqXyMtTANBgkqhkiG9w0BAQsFADCBhjELMAkGA1UEBhMC
RlIxDjAMBgNVBAgMBVBhcmlzMQ4wDAYDVQQHDAVQYXJpczENMAsGA1UECgwEQVBY
UjENMAsGA1UECwwEQVBYUjENMAsGA1UEAwwEQVBYUjEqMCgGCSqGSIb3DQEJARYb
aW5mb0BhcHByb3hpbWF0ZXJlYWxpdHkuY29tMB4XDTE5MDIyNDIzMTU1M1oXDTE5
MDMyNjIzMTU1M1owgYYxCzAJBgNVBAYTAkZSMQ4wDAYDVQQIDAVQYXJpczEOMAwG
A1UEBwwFUGFyaXMxDTALBgNVBAoMBEFQWFIxDTALBgNVBAsMBEFQWFIxDTALBgNV
BAMMBEFQWFIxKjAoBgkqhkiG9w0BCQEWG2luZm9AYXBwcm94aW1hdGVyZWFsaXR5
LmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMgEXCTc9khaEoq9
mxcU8yEWhMzVARlbSGGk+RdkK5l6KFtKl7jYc3iagV6yJ6NJckI+sWfTKRVhVl8W
tlOAglfD2KY5krvANN0ulvdKU4uM5VpN117EfYoh84uYku2nzBwwVfrOXH4sp0Ne
C+mF0Q9Tk262G8SUsx17RBeqAk4H3y7DaNhvInrrRnSdJcomvnOmofmXV/NeInfR
L7zpdwscf5jO/+ctWfbirR4DxjqmE0IyML+qkQl3EquyP79VXqRAkSYsYpzJWPO8
ysSNKUvlhDpy8myS7P2mFP95DfNovP1aao8gbFuS/b+DBtBNUVpnFTtacgH2CDjZ
RtzgRj0CAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAJoTktLkfwY8rlJEdfW+682WX
aoMMNh2623BhSIkYmeN/mDNpD6jP1gDns1PgldAK4eoBJ77luMvkxYSoFc2r23Hr
NVERseoDktMQsPWF2k40RbLJxI7jOdwFxcZZpW0gxmfJR9LBg/KPWf+Cja4m/jkd
EvaR/lY8rYuK/qK0C8BhDwdryc1eoA+ScXBHNoNaIOBP6HOXTPdW1EX0LQkWHI9b
VTqE8mNVrF/4C8ogNNj6CQmM8rUEldKOa6NrFm09Ywk9v3VSENBr1P8l2px+NvFf
lk53WP8Cds0ADptpCpWF89jeMJlTM2B6zo+b0lI6lBejWBcxT5xbxznrXOwtSw==
-----END CERTIFICATE-----
  </div>
  <h2 class="title is-2">
    Revoked keys
  </h2>
  <p>
No public keys have been revoked yet.
  </p>
</div>