<%= for release <- @releases do %>
  <li>
    <a href="<%= path_for_release(@project, release) %>"><strong><%= release.version %></strong></a>
    <%= pretty_datetime(release.inserted_at) %>

    <%= if release.retirement do %>
      (<span class="version-retirement">retired</span>)
    <% end %>
  </li>
<% end %>
