@charset "utf-8";

#apxr-hover:hover {
  background-color: #FFF;
  color: #0a0a0a;
  border-color: #0a0a0a;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.tab-content{
  display: none;
}

.tab-content.is-active-tab{
  display: inherit;
}


@import "../node_modules/bulma/bulma.sass";