.navbar {
  min-height: 70px;
  margin-bottom: 0;
  background: $color-black;
  border: 0;
  border-bottom: $color-grey-three 1px solid;
  border-radius: 0;
}

.nav.navbar-nav {
  float: right;
}

.navbar-default .navbar-nav > li > a {
  @include font-size(16, 115);

  height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.navbar-default .navbar-form {
  @include general-mobile {
    padding: 7px 15px 10px;
    border-top: 0;
    box-shadow: none;
  }

  input,
  button {
    // Vertical centering
    margin-top: 10px;
    margin-bottom: 10px;

    // Override bootstrap gradient style for navbar forms.
    border-color: $color-white;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  button.btn {
    color: $color-grey-two;
    background: $color-white;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $color-white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: $color-white;
  background-color: $color-black;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  @include general-mobile {
    color: $color-white;
  }
}

.navbar .dropdown-menu {
  right: 0;
  left: auto;
  min-width: 200px;
  background: $color-black;
  border-color: $color-white;
  box-shadow: none;

  // copied from bootstrap
  li .btn-link {
    display: block;
    width: 100%; // custom
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: $color-black;
    text-align: left; // custom
    white-space: nowrap;
  }

  // copied from bootstrap
  li .btn-link:hover,
  li .btn-link:focus,
  li > a:hover,
  li > a:focus {
    color: $color-grey-five;
    text-decoration: none;
    background-color: $color-grey-one;
  }

  li > a,
  li .btn-link {
    font-size: 13px;
    color: $color-white;
  }

  .divider {
    background-color: $color-white;
  }

  .dropdown-header.menu-dropdown-header {
    font-size: 15px;
    font-weight: bold;
    color: $color-white;
    text-transform: uppercase;
  }
}

.navbar-toggle {
  margin-top: 20px;
}

.navbar-brand {
  max-width: 120px;
  height: auto;
}
