.page {
  h2 {
    @include font-size(35, 50);
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 300;
    color: $color-black;
    border-bottom: $color-grey-two 1px solid;
  }

  p {
    @include font-size(16, 35);
    margin-bottom: 20px;
    font-weight: 300;
    color: $color-black;
  }

  ol,
  li {
    @include font-size(16, 35);
    font-weight: 300;
    color: $color-black;

    p {
      margin-bottom: 0;
    }
  }

  .first-header {
    margin-top: 0;
  }
}

.page-sm {
  width: auto;
  max-width: 768px;
}

.page-xs {
  width: auto;
  max-width: 667px;
}
