<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description(assigns) %>">
    <title><%= title(assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(Endpoint, "/css/app.css") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(Endpoint, "/images/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(Endpoint, "/images/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(Endpoint, "/images/favicon-16x16.png") %>">
    <link rel="manifest" href="/images/site.webmanifest">
  </head>
  <body class="site">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar is-spaced is-white has-shadow" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item is-radiusless" href="/">
            <img src="<%= Routes.static_path(Endpoint, "/images/apxr_io.png") %>"
            srcset="<%= Routes.static_path(Endpoint, "/images/apxr_io.png") %>,
            alt="approximatereality"
          </a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item"></div>
            <%= if logged_in?(assigns) do %>
              <a class="navbar-item" href="<%= Routes.project_path(Endpoint, :index) %>">
                <span>
                  Projects
                </span>
              </a>
              <a class="navbar-item" href="<%= Routes.team_path(Endpoint, :index) %>">
                <span>
                  Teams
                </span>
              </a>
              <a class="navbar-item" href="<%= Routes.profile_path(Endpoint, :index) %>">
                <span>
                  Account
                </span>
              </a>
              <a class="navbar-item" href="<%= Routes.docs_path(Endpoint, :index) %>">
                <span>
                  Docs
                </span>
              </a>
            <% else %>
              <a class="navbar-item" href="<%= Routes.page_path(Endpoint, :about) %>">
                <span>
                  About
                </span>
              </a>
              <a class="navbar-item" href="<%= Routes.blog_path(Endpoint, :index) %>">
                <span>
                  Blog
                </span>
              </a>
              <a class="navbar-item" href="<%= Routes.docs_path(Endpoint, :index) %>">
                <span>
                  Features
                </span>
              </a>         
            <% end %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= if logged_in?(assigns) do %>
                  <a href="<%= Routes.profile_path(Endpoint, :index) %>" class="button is-text">
                    <%= @current_user.username %>
                  </a>
                  <%= form_tag(Routes.login_path(Endpoint, :delete)) do %>
                    <button type="submit" class="button is-black is-outlined">Log out</button>
                  <% end %>
                <% else %>
                  <a href="<%= Routes.signup_path(Endpoint, :show) %>" id="apxr-hover" class="button is-black">
                    <strong>Sign up</strong>
                  </a>
                  <a href="<%= Routes.login_path(Endpoint, :new) %>" class="button is-black is-outlined">
                    Log in
                  </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <%= unless assigns[:error] || assigns[:custom_flash] do %>
      <br />
      <%= render "_flash.html", conn: @conn %>
    <% end %>
    <div class="<%= section_class(assigns) %>">