<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description(assigns) %>">
    <title><%= title(assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(Endpoint, "/css/app.css") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(Endpoint, "/images/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(Endpoint, "/images/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(Endpoint, "/images/favicon-16x16.png") %>">
    <link rel="manifest" href="/images/site.webmanifest">
  </head>
  <body class="site">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar has-shadow is-spaced is-white" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item has-background-black is-radiusless" href="/">
            <img src="<%= Routes.static_path(Endpoint, "/images/apxr_io.png") %>"
            srcset="<%= Routes.static_path(Endpoint, "/images/apxr_io.png") %>,
            alt="approximatereality"
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </nav>
    <div class="<%= section_class(assigns) %>">