<tr>
  <td><a href="<%= Routes.artifact_path(Endpoint, :show, @project, @artifact, [])%>"><%= @artifact.name %></a></td>
  <td><%= pretty_datetime(@artifact.inserted_at) %></td>
  <td><%= pretty_datetime(@artifact.updated_at) %></td>
  <td><%= @artifact.status %></td>
</tr>